
/* Regole pagina */
.grigio{
    color: #5b6987;
}

.navbar-default {
    background-color: white;
    border-color: white;
    padding: 10px 0;
}


/* Regole media navbar */
@media all and (min-width: 768px ) and (max-width: 992px) {
    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-toggle {
        display: block!important;
        margin-right: 0;
    }
}

@media all and (max-width: 992px) {
    .navbar-header{
        width: 100%;
    }
}


/* nav */
#logo{
    max-width: 200px;
    vertical-align: middle;
    margin-right: 100px;
    transform: translate(0, -10px);
}

@media all and (min-width: 991px) and (max-width: 1199px){
    #logo{
        margin-right: 0;
    }
}

nav .btn-default{
    color: rgb(59,140,255);
    border-color: rgb(59,140,255);
}

/* Jumbotron */

/* testo jumbotron */
.ms_jumbotron{
    background-image: url(../img/jumbo.svg);
    background-size: cover;
    padding: 130px 0;
}

.testo_jumbo{
    color: white;
}

.testo_jumbo h1{
    font-weight: 900;
    font-size: 5rem;
}

p{
    font-size: 2rem;
}

/* riquadro jumbotron */

.riquadro_jumbo{
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
}

.riquadro_jumbo h2{
    font-weight: 600;
}

.riquadro_jumbo  h2:nth-of-type(2){
    color: blue;
}


/* sezione loghi partners */

.partners{
    background-color: #f3f5f9;
    text-align: center;
}

.partners p{
    margin-top: 50px;
}

.partners img {
    margin: 10px 5px;
    width: calc( (100% / 6) - 15px);
    height: auto;
    vertical-align: middle;
}

@media all and (max-width: 991px) {
    .partners img{
        min-width: 48%;
    }
}

.partners a{
    font-size: 1.7rem;
}
