
/* Regole pagina */
.grigio{
    color: #5b6987;
    font-weight: 500;
}

body{
    font-family: 'Inter', sans-serif;
    color: rgb(3, 27, 78);
}

.navbar-default {
    background-color: white;
    padding: 10px 0;
}

p{
    font-size: 2rem;
}

/* Regole media navbar */
@media all and (min-width: 768px ) and (max-width: 992px) {
    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-toggle {
        display: block!important;
        margin-right: 0;
    }
}

@media all and (max-width: 992px) {
    .navbar-header{
        width: 100%;
    }
}


/* nav */
#logo{
    max-width: 200px;
    vertical-align: middle;
    margin-right: 100px;
    transform: translate(0, -10px);
}

@media all and (min-width: 991px) and (max-width: 1199px){
    #logo{
        margin-right: 0;
    }
}

nav .btn-default{
    color: rgb(59,140,255);
    border-color: rgb(59,140,255);
}

/* Jumbotron */

/* testo jumbotron */
.ms_jumbotron{
    background-image: url(../img/jumbo.svg);
    background-size: contain;
    padding: 130px 0;
}

.testo_jumbo{
    color: white;
}

.testo_jumbo h1{
    font-weight: 900;
    font-size: 5rem;
}

/* riquadro jumbotron */

.riquadro_jumbo{
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
}

.riquadro_jumbo h2{
    font-weight: 600;
}

.riquadro_jumbo  h2:nth-of-type(2){
    color: blue;
}

.riquadro_jumbo img{
    max-height: 25px;
    width: auto;
    float: left;
}

/* sezione loghi partners */

.partners{
    background-color: #f3f5f9;
    text-align: center;
    padding: 60px 0;
}

.partners img {
    margin: 10px 5px;
    width: calc( (100% / 6) - 15px);
    height: auto;
    vertical-align: middle;
}

@media all and (max-width: 991px) {
    .partners img{
        min-width: 48%;
    }
}

.partners a{
    display: block;
    font-size: 1.7rem;
}

/*regole generali main */
main section{
    padding: 100px 0;
    text-align: center;
}

main h2{
    font-size: 3rem;
    font-weight: bold;
    margin: 30px 0;
}

main h4{
    font-weight: 700;
    margin: 20px 0;
}

main h5{
    line-height: 2rem;
}

/* Sezione main "configuration" */
#configuration p{
    margin-bottom: 80px;
}

#configuration ul{
    border-left: 1px solid black;
    list-style-type: none;
    padding: 0 10px;
    font-size: 2rem;
    line-height: 5rem;
    text-align: left;
}

#configuration a{
    color: #5b6987;
    font-weight: 500;
}

.contenuto_config{
    text-align: left;
}

#configuration img{
    max-height: 40px;
}

#configuration .row .row:last-child img{
    margin-top:30px;
}

@media all and (max-width: 991px) {
    #configuration img{
        margin-top: 30px;
    }
}

/* sezione main design */
#design{
    background-color: #f3f5f9;
}

.screen img{
    width: 60%;
    margin: 50px auto 20px;
}

.screen > i{
    font-size: 4rem;
    font-weight: 900;
    margin: 0 20px;
}

.screen > i:first-of-type{
    color: #5b6987;
}

.pallini i{
    color: blue;
}

/* sezione main features */
.features_content{
    text-align: left;
}

/* sezione main services */

#services{
    background: rgb(35,6,168);
    background: linear-gradient(0deg, rgba(35,6,168,1) 38%, rgba(39,39,222,1) 67%, rgba(37,0,255,1) 100%);
    color: white;
}

.contenitore_tabella{
    text-align: left;
    padding: 0 20px;
}

#services span{
    display: inline-block;
}

#services .city, #services .speed{
    width: 25%;
    padding: 0 15px;
}

#services .nome_city{
    opacity: 0.8;
    font-size: 12px;
}

#services .city, #services .nome_city{
    float: left;
}

#services .speed{
    float: right;
}

#services hr{
    width: 100%;
    margin: 31px 0 12px;
}

#services a{
    color: rgb(0, 215, 210);
}

@media all and (min-width: 1199px) {
    #separatore{
        display: none;
    }
}
